In [37]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
tf.random.set_seed(8)

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [38]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df.drop(columns=['EIN'], inplace=True)
application_df

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...,...
34294,THE LIONS CLUB OF HONOLULU KAMEHAMEHA,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,INTERNATIONAL ASSOCIATION OF LIONS CLUBS,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,PTA HAWAII CONGRESS,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,WATERHOUSE CHARITABLE TR,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [39]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [40]:
# Look at APPLICATION_TYPE value counts for binning
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [41]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types = application_df['APPLICATION_TYPE'].unique()
application_types_to_replace = []
for i in application_types:
    if application_df[application_df["APPLICATION_TYPE"] == i]['APPLICATION_TYPE'].count() < 500:
        application_types_to_replace.append(i)
    

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [42]:
# Look at CLASSIFICATION value counts for binning
non_1 = application_df['CLASSIFICATION'].value_counts()

In [43]:
# You may find it helpful to look at CLASSIFICATION value counts >1
application_df[application_df["CLASSIFICATION"].isin(non_1.index[non_1.gt(1)])]['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C4100        6
C1720        6
C2400        6
C1600        5
C1257        5
C1260        3
C2710        3
C0           3
C1267        2
C1256        2
C1234        2
C1246        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [44]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classification_types = application_df['CLASSIFICATION'].unique()
classifications_to_replace = []
for i in classification_types:
    if application_df[application_df['CLASSIFICATION'] == i]['CLASSIFICATION'].count() < 100:
        classifications_to_replace.append(i)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
Other      669
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
Name: CLASSIFICATION, dtype: int64

In [45]:
# Convert categorical data to numeric with `pd.get_dummies`
dummy_df = pd.get_dummies(application_df)

In [46]:
# Split our preprocessed data into our features and target arrays
X = dummy_df.drop(columns=['IS_SUCCESSFUL'])
y = application_df['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [47]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [48]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
input_dim = len(X.columns)

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units = 90, activation = 'relu', input_dim = input_dim))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units = 30, activation = 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units = 1, activation = 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_3"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 90)                1765620
_________________________________________________________________
dense_10 (Dense)             (None, 30)                2730
_________________________________________________________________
dense_11 (Dense)             (None, 1)                 31
=================================================================
Total params: 1,768,381
Trainable params: 1,768,381
Non-trainable params: 0
_________________________________________________________________

In [49]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [50]:
# Train the model
nn.fit(X_train, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 8s 9ms/step - loss: 4305.2319 - accuracy: 0.4907
Epoch 2/100
804/804 [==============================] - 7s 9ms/step - loss: 6794.5669 - accuracy: 0.5024
Epoch 3/100
804/804 [==============================] - 7s 9ms/step - loss: 1661.3533 - accuracy: 0.5140
Epoch 4/100
804/804 [==============================] - 7s 9ms/step - loss: 235.7442 - accuracy: 0.5099
Epoch 5/100
804/804 [==============================] - 7s 9ms/step - loss: 70.6709 - accuracy: 0.5177
Epoch 6/100
804/804 [==============================] - 7s 9ms/step - loss: 7.8857 - accuracy: 0.5326
Epoch 7/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6914 - accuracy: 0.5318
Epoch 8/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 9/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 10/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 11/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6911 - accuracy: 0.5318
Epoch 12/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 13/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 14/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 15/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 16/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 17/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 18/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 19/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 20/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 21/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 22/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 23/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 24/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 25/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 26/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 27/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 28/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 29/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 30/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 31/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 32/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 33/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 34/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 35/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 36/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 37/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 38/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 39/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 40/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 41/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 42/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 43/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 44/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 45/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 46/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 47/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 48/100
804/804 [==============================] - 9s 11ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 49/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 50/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 51/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 52/100
804/804 [==============================] - 7s 8ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 53/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 54/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 55/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 56/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 57/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 58/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 59/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 60/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 61/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 62/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 63/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 64/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6911 - accuracy: 0.5318
Epoch 65/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 66/100
804/804 [==============================] - 7s 8ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 67/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 68/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 69/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 70/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 71/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 72/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 73/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 74/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 75/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 76/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 77/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 78/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 79/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 80/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6911 - accuracy: 0.5318
Epoch 81/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 82/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 83/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 84/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 85/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 86/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 87/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 88/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 89/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 90/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 91/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 92/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 93/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 94/100
804/804 [==============================] - 8s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 95/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 96/100
804/804 [==============================] - 8s 10ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 97/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 98/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 99/100
804/804 [==============================] - 7s 8ms/step - loss: 0.6912 - accuracy: 0.5318
Epoch 100/100
804/804 [==============================] - 7s 9ms/step - loss: 0.6912 - accuracy: 0.5318

In [51]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4945 - accuracy: 0.7836
Loss: 0.49445676803588867, Accuracy: 0.7835568785667419

In [52]:
# Export our model to HDF5 file
nn.save_weights('./NN_Model_Optimized.hdf5')